body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


@font-face {
    font-family: Waltograph;
    src: url(../fonts/waltograph.regular.ttf);
}

#title, button {
    font-family: Waltograph;
}